* {
  box-sizing: border-box;
  min-width: 0;
}

body {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    sans-serif;
  background-color: #edeef7;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.page-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  padding: 80px 120px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image-wrapper {
  width: 50%;
  position: sticky;
  top: max(20%, 30vh);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 480px;
}

.image-wrapper img {
  /* position: sticky;
  top: 0; */
  /* left: 50%;
  transform: translate(-50%, -50%); */
  width: 480px;
  height: 480px;
}

.form-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  flex: 1 1 0px;
  position: relative;
  align-items: center;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #00b0b3;
  overflow-wrap: break-word;
}

#api {
  min-height: 600px;
  width: 460px;
  background: #eee;
  border-radius: 4px;
  border: 1px solid #ddd;
  background: #fcfcfc;
  padding: 50px;
}

h2 {
  font-size: 16px;
  margin-bottom: 24px;
  font-weight: 500;
  color: #666666;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  gap: 8px;
  cursor: pointer;
  padding: 0px 12px;
  height: 50px;
  font-size: 1rem;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  color: black;
}

button:disabled {
  opacity: 0.3;
}

button[type="submit"],
.sendButton {
  background-color: black;
  color: white;
  border: 1px solid black;
}

.options {
  display: flex;
}

.options>* {
  flex: 1;
}

.options>*:not(:last-child) {
  margin-right: 16px;
}

.options button {
  height: 42px;
  font-size: 14px;
}

.divider {
  text-align: center;
  margin: 24px 0;
}

.attrEntry,
.entry-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  position: relative;
}

.attrEntry>*,
.entry-item>* {
  order: 3;
}

.attrEntry label,
.entry-item label {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  order: 0;
}

.attrEntry input,
.entry-item input {
  padding: 14px 12px;
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  font-size: 1rem;
  line-height: 1.25;
  outline: none;
  box-shadow: none;
  order: 1;
}

.attrEntry .buttons {
  margin: 16px 0;
  order: 2;
}

#forgotPassword {
  margin-bottom: 8px;
  font-size: 14px;
  float: right;
  margin-top: 2px;
}

#createAccount {
  margin-left: 4px;
}

.error {
  font-size: 12px;
  font-weight: 500;
  color: red;
  line-height: 1;
  order: 4;
  margin: 8px 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.helpLink {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
}

.helpLink::after {
  content: '?';
  position: absolute;
  top: 4px;
  right: 0;
  font-size: 12px;
  font-weight: bold;
  color: #aaa;
  border: 1px solid #ccc;
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
}

.verificationInfoText {
  color: blue;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
}

.verificationSuccessText {
  color: green;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
}

.verificationErrorText {
  color: red;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
}