.attrEntry>a.helpLink.tiny {
  display: none;
}

#emailVerificationControl .verificationInfoText>div::after,
#emailVerificationControl .verificationSuccessText>div::after,
#emailVerificationControl .verificationErrorText>div::after {
  content: '';
  margin-bottom: 24px;
  display: block;
}

#cancel, #emailVerificationControl_but_change_claims {
  display: none !important;
}